# vi:se noet:
[core]
	autocrlf = false
	pager = ""
[pager]
	blame = ${PAGER:-less}
	diff = ${PAGER:-less}
	log = ${PAGER:-less}
	show = ${PAGER:-less}
[user]
	name = Grenier Celestin
	email = celestin.grenier@hotmail.com
[alias]
	#cd = checkout # could remove
	#ls = branch -vv # could remove
	#amend = commit --amend --no-edit # could remove
	graph = log --oneline --graph --decorate # could remove asp
	#wip = !$EDITOR `git ls-files --modified` # could remove
	url = "!f()(git remote get-url ${1:-origin}|sed 's,^\\(ssh://\\)\\?git@\\([a-zA-Z.-]\\+\\):\\(\\([0-9]\\+/\\)\\|\\([^0-9][^/]\\+\\)\\),https://\\2/\\5,');f"
	#sha = rev-parse HEAD
	root = rev-parse --show-toplevel # could remove asp
	#git rev-list HEAD -n1 --before=
	ls-files-at = ls-tree -r --name-only # could remove asp
[init]
	defaultBranch = main
[credential]
	helper = store
