[user]
	name = Grenier Celestin
	email = celestin.grenier@hotmail.com
[alias]
	sha = rev-parse HEAD
	url = remote get-url origin
	ls = branch -vv
	cd = checkout
	stat = log --stat
	graph = log --oneline --graph --decorate --simplify-by-decoration
	add-ignore = "!git status --porcelain|sed '/.gitignore/d;s/^?? //p;d'>>.gitignore"
	irt = !f()(git for-each-ref --format='printf "%%s:%%5d-:+%%d\\\\n" %(refname:short) `git rev-list --left-right --count 'refs/$1'...%(refname)`' refs/${2:-heads}|sh|column -ts:)";"f
	wdiff = diff --word-diff
	amend = commit --amend --no-edit
	root = rev-parse --show-toplevel
	desc = branch --edit-description
[init]
	defaultBranch = main
[credential]
	helper = store
